h1 {
  font-size: var(--font-size-h1);
}

p {
  font-size: var(--font-size-p-big);
}

button,
input,
label {
  font-size: var(--font-size-button);
}

span {
  font-size: var(--font-size-p-big);
}

.back a {
  text-decoration: none;
}