/* Geometry */

#subscribe {
  padding: var(--padding-body);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0px;
}

#subscribe h1 {
  padding-top: 20px;
  margin-bottom: 30px;
}

#subscribe form {
  position: relative;
}

#subscribe button {
  position: absolute;
  top: 13px;
  right: 25px;
}

#subscribe>div>form .email {
  border: var(--form-border);
  border-radius: var(--button-border-radius);
  height: var(--button-height);
  margin-bottom: 30px;
  padding:  0px 15px;
  width: 93%;
}

/* Colors */

.fa-envelope {
  color: #0E98AF;
  background-color: white;
}

/* Fonts */

#subscribe>div {
  text-align: center;
}

.email {
  font-size: var(--font-size-button);
}

.fa-envelope {
  font-size: 24px;
}

p {
  font-size: var(--font-size-p-medium);
}

/* Hover */

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  #subscribe {
    padding: 0px 100px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {

  #subscribe h1 {
    padding-top: 0px;
    margin-top: 0px;
  }
  #subscribe {
    padding: 0px 50px;
    justify-content: center;
  }

  #subscribe>div>form .email {
    display: flex;
  }

  #subscribe>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  #subscribe img {
    display: none;
  }
}




.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
  top:0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup-content {
  position: relative;
  background-color: white;
  max-width: 45%;
  padding: 50px;
  border-radius: var(--button-border-radius);;
}

.popup-close {
  position: absolute;
  color: #0E98AF;
  font-size: 28px;
  right: 15px;
  top: 10px;
  font-size: 20px;
}

.popup-title  {
  color: #0E98AF;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 30px;
}

.popup-text {
  text-align: justify;
  font-size: 20px;
}

.popup-text span {
  color: #0E98AF;
  font-weight: 500;
}