.hide {
  display: none;
}

#banner,
#box-search,
#info  {
  padding: var(--padding-body);
}

#banner {
  position: relative;
  display: flex;
  flex-direction: column;
}

#banner>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#banner img {
  margin: 50px 0px;
}

#banner h1 {
  margin-top: var(--margin-top-h1);
  margin-bottom: 30px;
}

#banner form>button {
  position: absolute;
  bottom: 50px;
  width: var(--button-width);
  height: var(--button-height);
  border-radius: var(--button-border-radius);
}

#banner>div:last-child {
  margin: 50px 0px 50px auto;
}

#box-search h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

#search {
  width: 100%;
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  border: var(--form-border);
  margin-bottom: 50px;
}

.main:first-child {
  padding: 50px 0px 30px 0px;
}

#info p {
  padding-bottom: 30px;
}

li {
  margin-left: 25px;
}

@media screen and (max-width: 1400px) {
  #banner,
  #box-search,
  #info {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 1000px) {
  #banner>div {
    display: flex;
    flex-direction: column;
  }

  #banner img {
    display: none;
  }

  #banner form>button {
    position: static;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {

  #banner,
  #box-search,
  #info {
    padding: 0px 50px;
  }

  #banner form>button {
    width: 100%;
  }
}